# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# --- Virtual env (named "env"; add others if needed) ---
env/
venv/
.venv/

# Ignore everything in cookies/
cookies/*

# But keep the folder itself and this .gitkeep marker
!cookies/.gitkeep


# C extensions
*.so
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix

# --- Project-specific ---
followers.json
following.json
